@media (max-width: 425px) {
  #visitorHomePage h1 {
    font-family: Roboto;
    font-size: 30px;
  }

  #visitorHomePage .banner {
    background-color: #f5e3cb;
    background-image: linear-gradient(#edd5bb 2px, rgba(255, 255, 255, 0.4) 2px),
      linear-gradient(90deg, #edd5bb 2px, rgba(255, 255, 255, 0.4) 2px);
    background-size: 38px 16px;
  }

  #visitorHomePage .find-masterpiece {
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-flex;
    height: 27px;
    padding-left: 17.5px;
    padding-right: 17.5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 2px;
    background-color: #a16a5e;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  }

  @keyframes scroll {
    0% {
      transform: translateX(-32.75%);
    }
    100% {
      transform: translateX(-322.75%);
    }
  }

  @keyframes scroll-reverse {
    0% {
      transform: translateX(-322.75%);
    }
    100% {
      transform: translateX(-32.75%);
    }
  }

  .slider-masterpiece {
    overflow: hidden;
    white-space: nowrap;
  }

  .masterpiece {
    display: inline-block;
    animation: 10s scroll infinite linear;
  }

  .masterpiece.reverse {
    animation: 10s scroll-reverse infinite linear;
  }

  .masterpiece img {
    cursor: pointer;
    margin: 0 30px;
    height: 200px;
  }

  .carousel-image {
    position: absolute;
    top: 15px;
    left: 83px;
  }

  .content-image {
    background-color: #e09686;
    color: white;
    text-align: center;
    font-family: Roboto;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.188%;
  }

  .carousel-content {
    height: calc(100vh - 690px);
  }

  #carouselExampleInterval {
    text-align: center;
    font-family: Roboto;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.188%;
  }
}
